# Byte-compiled / optimized / DLL files
.pkl

#Node
node_modules/
package-lock.json
package.json

#Example Tests Generated Automatically
/test/pageobjects/login.page.js
/test/pageobjects/page.js
/test/pageobjects/secure.page.js
/test/specs/example.e2e.js

#idea
*.idea
.idea
/shelf/
/workspace.xml

#vscode
.DS_Store
.vscode/

# Environments and Settings
.local

# Reports and Logs
allure-report/
allure-results/
allure-results-*/
*.log
log*.html
output*.xml
report*.html
